.main {
  overflow-x: hidden;
}

.dataholder {
  margin-left: -100px;
  margin-top: 80px
}

.sideNav {
  transition: all .3s ease-out;
  overflow-y: scroll;
  overflow-x: hidden;
  position: fixed;
  width: 250px;
  max-height: 100%;
}

.sideNav li {
  padding: 10px;
  border-bottom: 1px solid #c6c4c4; 
  width: 250px;
  cursor: pointer;
}

.sideNav li:hover {
  background-color: #cacaca;
}

.country-list-flag { 
  width: 30px; 
  margin-right: 10px; 
}
